
.wrapper-body{
  display: flex;
  flex-direction: column;
  margin: 20px;
  background: azure;
}
.wrapper-main{
  display: flex;
}

.wrapper-header{
  background: #dadada;
  padding-left: 20px;
  padding-right: 20px;
}


