.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.root{
  height: 100%;
}
body,html{
  height: 100%;
}
.button{
  margin-left:20px;
  width:80px;
  height:30px;
  border:1px solid black;
  background: #222222;
  color:white;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.button:active{
  background: white;
  color: #110a22;
}
.input{
  margin-left: 20px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid black;
  height: 25px;
}
.input:focus{
  border: 2px solid #ff9792;
  border-radius: 5px;
  outline: none;
}