.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.todo-item  .title {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.todo-item .actions {
    display: flex;

}